#######################################################################################
default_config:
#######################################################################################
homeassistant:
  customize: !include customise.yaml
  packages: !include_dir_named custom_packages
  internal_url: "http://192.168.3.10:8123"
  external_url: "https://home.janeandgraham.com"
#######################################################################################
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 127.0.0.1
    - 192.168.1.0/24
  cors_allowed_origins:
    - https://janeandgraham.com
    - https://home.janeandgraham.com
#######################################################################################
tts:
  - platform: google_translate
#######################################################################################
recorder:
  db_url: !env_var HOMEASSISTANT_DB
  commit_interval: 120
  purge_keep_days: 1
  auto_purge: true
# TODO: Disabled all sensors in favour of redirecting to Grafana?
#  exclude:
#    entity_globs:
#      - sensor.*
#######################################################################################
influxdb:
  api_version: 2
  ssl: false
  host: !env_var INFLUXDB_HOST
  port: !env_var INFLUXDB_PORT
  token: !env_var INFLUXDB_TOKEN
  organization: !env_var INFLUXDB_ORG
  bucket: !env_var INFLUXDB_BUCKET_HOME_PRIVATE
  precision: s
  measurement_attr: domain__device_class
  tags:
    instance: production
    source: home_assistant
  tags_attributes:
    - friendly_name
  default_measurement: state
#######################################################################################
mqtt:
  broker: !env_var VERNEMQ_HOST
  port: !env_var VERNEMQ_PORT
  client_id: 'hass'
  discovery: true
  discovery_prefix: 'haas/entity'
  birth_message:
    topic: 'hass/status'
    payload: 'online'
  will_message:
    topic: 'hass/status'
    payload: 'offline'
#######################################################################################
panel_custom:
  - name: weather
    sidebar_title: Weather
    sidebar_icon: mdi:weather-partly-cloudy
    js_url: /api/hassio/app/entrypoint.js
    url_path: 'lovelace/default_view'
    embed_iframe: true
    require_admin: false
    config:
      ingress: core_configurator
  - name: control
    sidebar_title: Control
    sidebar_icon: mdi:power
    js_url: /api/hassio/app/entrypoint.js
    url_path: 'lovelace/control'
    embed_iframe: true
    require_admin: false
    config:
      ingress: core_configurator
  - name: media
    sidebar_title: Media
    sidebar_icon: mdi:play
    js_url: /api/hassio/app/entrypoint.js
    url_path: 'lovelace/media'
    embed_iframe: true
    require_admin: false
    config:
      ingress: core_configurator
  - name: security
    sidebar_title: Security
    sidebar_icon: mdi:camera
    js_url: /api/hassio/app/entrypoint.js
    url_path: 'lovelace/security'
    embed_iframe: true
    require_admin: false
    config:
      ingress: core_configurator
  - name: conditions
    sidebar_title: Conditions
    sidebar_icon: mdi:home-thermometer
    js_url: /api/hassio/app/entrypoint.js
    url_path: 'lovelace/conditions'
    embed_iframe: true
    require_admin: false
    config:
      ingress: core_configurator
  - name: electricity
    sidebar_title: Electricity
    sidebar_icon: mdi:lightning-bolt
    js_url: /api/hassio/app/entrypoint.js
    url_path: 'lovelace/electricity'
    embed_iframe: true
    require_admin: false
    config:
      ingress: core_configurator
  - name: water
    sidebar_title: Water
    sidebar_icon: mdi:water
    js_url: /api/hassio/app/entrypoint.js
    url_path: 'lovelace/water'
    embed_iframe: true
    require_admin: false
    config:
      ingress: core_configurator
  - name: diagnostics
    sidebar_title: Diagnostics
    sidebar_icon: mdi:wrench
    js_url: /api/hassio/app/entrypoint.js
    url_path: 'lovelace/diagnostics'
    embed_iframe: true
    require_admin: false
    config:
      ingress: core_configurator
#######################################################################################
lovelace:
  mode: yaml
  resources:
    - url: /local/custom_ui/bom-weather-card.js?v=0.90a-HACKED
      type: module
    - url: /local/custom_ui/layout-card/layout-card.js?v=2.4.1
      type: module
    - url: /local/custom_ui/bom-radar-card/bom-radar-card.js?v=v1.3.3
      type: module
    - url: /local/custom_ui/apexcharts-card/apexcharts-card.js?v=v1.10.0
      type: module
    - url: /local/custom_ui/mini-graph-card/mini-graph-card-bundle.js?v=0.10.0
      type: module
  dashboards:
    lovelace-generated:
      mode: yaml
      filename: notexist.yaml
      title: Generated
      icon: mdi:tools
      show_in_sidebar: true
      require_admin: true
#######################################################################################
logger:
  default: info
  logs:
    custom_components.powercalc: info
    homeassistant.components.mqtt: info
    custom_components.adaptive_lighting: info
    custom_components.bureau_of_meteorology: info
    homeassistant.components.automation.electricity_smart_plug_polling: warn
    homeassistant.components.websocket_api.http.connection: fatal
#######################################################################################