.m2
.ssh
.git/
*.pem
~$*.*
.env
.env_all_key
.py_deps_dev.txt
.py_deps_prod.txt
.py_deps_trans.txt
.gspread_pandas
.google_service_account.json
.DS_Store
.project
.settings
.classpath
.idea
.deps
*.iml
.id_rsa
.config
.pydevproject
.ipynb_checkpoints
.toolchain*
.viminfo
.cache
.local
.conda
.ipython
.bash_history
.oracle_jre_usage
.beeline
.hivehistory
.impalahistory
.python-eggs
.gitexternal
.coverage
.eggs
*.pyc
*egg-info
*.pipeout
.pytest_cache
nohup.out
Cargo.lock
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
phantomjsdriver.log
/spark-defaults.conf
target
dist
58861*
07849*
*.mbox
