services:
  nginx:
    # NOTES: https://nginx.org/en/CHANGES
    image: nginx:1.29.3-trixie
    container_name: nginx
    init: true
    restart: ${SERVICE_RESTART}
    environment:
      - TZ=Australia/Perth
      - NGINX_SERVICE
      - NGINX_HTTP_PORT
    ports:
      - ${NGINX_PORT_EXTERNAL_HTTP}:${NGINX_PORT_INTERNAL_HTTP}
      - ${NGINX_PORT_EXTERNAL_HTTPS}:${NGINX_PORT_INTERNAL_HTTPS}
    volumes:
      - ${SERVICE_DATA_DIR}/nginx.conf:/etc/nginx/nginx.conf
      - ${SERVICE_DATA_DIR}/.key.pem:/etc/nginx/.key.pem
      - ${SERVICE_DATA_DIR}/certificate.pem:/etc/nginx/certificate.pem
      - ${SERVICE_DATA_DIR}/html:/usr/share/nginx/html
      - ${SERVICE_DATA_DIR}/checkalive.sh:/asystem/etc/checkalive.sh
      - ${SERVICE_DATA_DIR}/checkexecuting.sh:/asystem/etc/checkexecuting.sh
      - ${SERVICE_DATA_DIR}/checkhealthy.sh:/asystem/etc/checkhealthy.sh
    healthcheck:
      test: /asystem/etc/checkhealthy.sh
      interval: 2m
      timeout: 30s
      retries: 3
      start_period: 1m
      start_interval: 10s
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "100m"
    deploy:
      resources:
        limits:
          memory: 256M