services:
  digitemp:
    image: digitemp:${SERVICE_VERSION_ABSOLUTE}
    container_name: digitemp
    init: true
    restart: ${SERVICE_RESTART}
    environment:
      - TZ=Australia/Perth
      - DIGITEMP_HEALTH_PORT
      - VERNEMQ_SERVICE
      - VERNEMQ_PORT
    volumes:
      - ${SERVICE_DATA_DIR}:/asystem/runtime:rw
      - ${SERVICE_DATA_DIR}/telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - ${SERVICE_DATA_DIR}/healthcheck.sh:/bootstrap/healthcheck.sh:ro
    devices:
      - /dev/ttyUSBTempProbe:/dev/ttyUSB0:rw
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "100m"
    deploy:
      resources:
        limits:
          memory: 128M
