version: '3.7'
services:
  weewx:
    container_name: weewx
    image: weewx:${SERVICE_VERSION_ABSOLUTE}
    init: true
    restart: ${SERVICE_RESTART}
    environment:
      - TZ=Australia/Perth
      - WEEWX_UID=weewx
      - WEEWX_GID=dialout
      - MARIADB_HOST
      - MARIADB_USER_WEEWX
      - MARIADB_DATABASE_WEEWX
      - VERNEMQ_HOST
      - VERNEMQ_PORT
    ports:
      - ${WEEWX_PORT}:80
    volumes:
      - ${SERVICE_DATA_DIR}:/data
      - ${SERVICE_DATA_DIR}/skins:/home/weewx/skins
    devices:
      - ${WEEWX_DEV}:/dev/ttyUSB0
    deploy:
      resources:
        limits:
          memory: 5G