[paths]

[run]
branch = True
parallel = true
disable_warnings = module-not-measured

[report]
show_missing = false
precision = 2
omit = */__init__.py, \
       */anode/application.py, \
       */anode/export/export.py