[Unit]
Description=Push TLS certifcates service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/bin/sh -c '/var/lib/asystem/install/*/${SERVICE_NAME}/${SERVICE_VERSION_ABSOLUTE}/pushcerts.sh'

[Install]
WantedBy=multi-user.target
