body {
    background-color: black;
}

a {
    color: inherit;
    text-decoration: none;
}

hr {
    margin: 0;
    border: 0;
    padding: 0;
    height: 1px;
    border-top: 1px solid #696969;
}

div {
    border: 0;
    padding: 0;
}

span {
    border: 0;
    padding: 0 10px 0 0;
}

.datums {
    font-size: 230%;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.datum {
}

.datum-row {
}

.datum-column {
}

@media screen and (min-aspect-ratio: 673/378) {
    .datum-row {
        display: flex;
    }
}

@media screen and (min-aspect-ratio: 673/378) {
    .datum-column {
        flex: 50%;
        padding-right: 50px;
    }
}

@media screen and (aspect-ratio: 672/378) {
    .datum-row {
        display: flex;
    }
}

@media screen and (aspect-ratio: 672/378) {
    .datum-column {
        flex: 50%;
        padding-right: 50px;
    }
}

@media screen and (aspect-ratio: 720/450) {
    .datum-row {
        display: flex;
    }
}

@media screen and (aspect-ratio: 720/450) {
    .datum-column {
        flex: 50%;
        padding-right: 50px;
    }
}

.datum-detail {
}

.datum-detail-metric .datum-detail-timeliness .datum-detail-value .datum-detail-unit .datum-detail-trend .datum-detail-low .datum-detail-high {
}

.datum-detail-value {
    font-size: 150%;
}

.datum-detail-up {
    color: chartreuse;
}

.datum-detail-down {
    color: red;
}

.datum-plot {
    width: 100%;
}
