#tplink:
#  discovery: false
#  switch:
#    - host: 192.168.1.40
#    - host: 192.168.1.41
#    - host: 192.168.1.42
#    - host: 192.168.1.43
#    - host: 192.168.1.44
#    - host: 192.168.1.45
#    - host: 192.168.1.46
#    - host: 192.168.1.47
#    - host: 192.168.1.48
#    - host: 192.168.1.49
#    - host: 192.168.1.50
#    - host: 192.168.1.51
#    - host: 192.168.1.52
#    - host: 192.168.1.53
#    - host: 192.168.1.54
#    - host: 192.168.1.55
#    - host: 192.168.1.56
#    - host: 192.168.1.57
#    - host: 192.168.1.58

#automation:
#  - alias: "Electricity: Smart Plug Polling"
#    mode: single
#    trigger:
#      - platform: time_pattern
#        seconds: /5
#    condition: [ ]
#    action:
#      - service: homeassistant.update_entity
#        data:
#          entity_id:
#            - switch.various_adhoc_outlet
#            - switch.study_outlet
#            - switch.office_outlet
#            - switch.kitchen_dish_washer
#            - switch.laundry_clothes_dryer
#            - switch.laundry_washing_machine
#            - switch.kitchen_coffee_machine
#            - switch.kitchen_fridge
#            - switch.deck_freezer
#            - switch.bathroom_rails
#            - switch.study_battery_charger
#            - switch.laundry_vacuum_charger
#            - switch.lounge_tv
#            - switch.rack_outlet
#            - switch.roof_network_switch
#            - switch.rack_internet_modem


######################################################################################
powercalc:
  scan_interval: 00:05:00
  create_utility_meters: false
  utility_meter_types:
    - daily
######################################################################################
sensor:
  ####################################################################################
  - platform: powercalc
    create_utility_meters: true
    create_group: senseme_all_fans
    entities:
      - entity_id: fan.ada
        standby_power: 1.3
        linear:
          min_power: 2.5
          max_power: 31.1
      - entity_id: fan.edwin
        standby_power: 1.3
        linear:
          min_power: 2.5
          max_power: 31.1
      - entity_id: fan.parents
        standby_power: 1.3
        linear:
          min_power: 2.5
          max_power: 31.1
      - entity_id: fan.lounge
        standby_power: 1.3
        linear:
          min_power: 2.5
          max_power: 31.1
      - entity_id: fan.deck_east
        standby_power: 1.3
        linear:
          min_power: 2.5
          max_power: 31.1
      - entity_id: fan.deck_west
        standby_power: 1.3
        linear:
          min_power: 2.5
          max_power: 31.1
  - platform: template
    sensors:
      home_fans_power:
        unique_id: home_fans_power
        value_template: >
          {{ (
              states('sensor.senseme_all_fans_power') | float(0) +
              states('sensor.kitchen_fan_current_consumption') | float(0)
          ) | round(1) }}
      home_fans_energy_daily:
        unique_id: home_fans_energy_daily
        value_template: >
          {{ (
              states('sensor.senseme_all_fans_energy_daily') | float(0) +
              states('sensor.kitchen_fan_today_s_consumption') | float(0)
          ) | round(1) }}
  ####################################################################################
  - platform: powercalc
    create_utility_meters: true
    create_group: senseme_all_lights
    entities:
      - entity_id: light.ada_light
        linear:
          min_power: 0.5
          max_power: 16.3
      - entity_id: light.edwin_light
        linear:
          min_power: 0.5
          max_power: 16.3
      - entity_id: light.lounge_light
        linear:
          min_power: 0.5
          max_power: 16.3
  - platform: powercalc
    create_utility_meters: true
    create_group: hue_all_lights
    include:
      template: >
        {{
          states | selectattr('entity_id', 'search', 'light.hue') | map(attribute='entity_id') | list
        }}
  - platform: template
    sensors:
      home_lights_power:
        unique_id: home_lights_power
        value_template: >
          {{ (
              states('sensor.senseme_all_lights_power') | float(0) +
              states('sensor.hue_all_lights_power') | float(0)
          ) | round(1) }}
      home_lights_energy_daily:
        unique_id: home_lights_energy_daily
        value_template: >
          {{ (
              states('sensor.senseme_all_lights_energy_daily') | float(0) +
              states('sensor.hue_all_lights_energy_daily') | float(0)
          ) | round(1) }}
  ####################################################################################
  - platform: template
    sensors:
      server_network_power:
        unique_id: server_network_power
        value_template: >
          {{ (
              states('sensor.rack_outlet_current_consumption') | float(0) +
              states('sensor.roof_network_switch_current_consumption') | float(0)
          ) | round(1) }}
      server_network_energy_daily:
        unique_id: server_network_energy_daily
        value_template: >
          {{ (
              states('sensor.rack_outlet_today_s_consumption') | float(0) +
              states('sensor.roof_network_switch_today_s_consumption') | float(0)
          ) | round(1) }}
  ####################################################################################
  - platform: template
    sensors:
      ################################################################################
      home_peak_power:
        unique_id: home_peak_power
        value_template: >
          {{ (
              states('sensor.pool_filter_power') | float(0) +
              states('sensor.roof_water_heater_booster_power') | float(0) +
              states('sensor.kitchen_dish_washer_current_consumption') | float(0) +
              states('sensor.laundry_clothes_dryer_current_consumption') | float(0) +
              states('sensor.laundry_washing_machine_current_consumption') | float(0) +
              states('sensor.bathroom_rails_current_consumption') | float(0)
          ) | round(1) }}
      ################################################################################
      home_base_power:
        unique_id: home_base_power
        value_template: >
          {{ (
              states('sensor.home_lights_power') | float(0) +
              states('sensor.home_fans_power') | float(0) +
              states('sensor.kitchen_coffee_machine_current_consumption') | float(0) +
              states('sensor.kitchen_fridge_current_consumption') | float(0) +
              states('sensor.deck_freezer_current_consumption') | float(0) +
              states('sensor.deck_lights_current_consumption') | float(0) +
              states('sensor.lounge_tv_current_consumption') | float(0) +
              states('sensor.study_outlet_current_consumption') | float(0) +
              states('sensor.office_outlet_current_consumption') | float(0) +
              states('sensor.server_network_power') | float(0) +
              states('sensor.study_battery_charger_current_consumption') | float(0) +
              states('sensor.laundry_vacuum_charger_current_consumption') | float(0) +
              states('sensor.various_adhoc_outlet_current_consumption') | float(0)
          ) | round(1) }}
      ################################################################################
      home_power:
        unique_id: home_power
        value_template: >
          {{ (
              states('sensor.home_peak_power') | float(0) +
              states('sensor.home_base_power') | float(0)
          ) | round(1) }}
  ####################################################################################
  - platform: template
    sensors:
      ################################################################################
      home_peak_energy_daily:
        unique_id: home_peak_energy_daily
        value_template: >
          {{ (
              states('sensor.pool_filter_energy_daily') | float(0) +
              states('sensor.roof_water_heater_booster_energy_daily') | float(0) +
              states('sensor.kitchen_dish_washer_today_s_consumption') | float(0) +
              states('sensor.laundry_clothes_dryer_today_s_consumption') | float(0) +
              states('sensor.laundry_washing_machine_today_s_consumption') | float(0) +
              states('sensor.bathroom_rails_today_s_consumption') | float(0)
          ) | round(3) }}
      ################################################################################
      home_base_energy_daily:
        unique_id: home_base_energy_daily
        value_template: >
          {{ (
              states('sensor.home_lights_energy_daily') | float(0) +
              states('sensor.home_fans_energy_daily') | float(0) +
              states('sensor.kitchen_coffee_machine_today_s_consumption') | float(0) +
              states('sensor.kitchen_fridge_today_s_consumption') | float(0) +
              states('sensor.deck_freezer_today_s_consumption') | float(0) +
              states('sensor.deck_lights_today_s_consumption') | float(0) +
              states('sensor.lounge_tv_today_s_consumption') | float(0) +
              states('sensor.study_outlet_today_s_consumption') | float(0) +
              states('sensor.office_outlet_today_s_consumption') | float(0) +
              states('sensor.server_network_energy_daily') | float(0) +
              states('sensor.study_battery_charger_today_s_consumption') | float(0) +
              states('sensor.laundry_vacuum_charger_today_s_consumption') | float(0) +
              states('sensor.various_adhoc_outlet_today_s_consumption') | float(0)
          ) | round(3) }}
      ################################################################################
      home_energy_daily:
        unique_id: home_energy_daily
        value_template: >
          {{ (
              states('sensor.home_peak_energy_daily') | float(0) +
              states('sensor.home_base_energy_daily') | float(0)
          ) | round(3) }}
      ################################################################################
