x-common: &common
  image: vernemq:${SERVICE_VERSION_ABSOLUTE}
  init: true
  user: root
  environment:
    - TZ=Australia/Perth
    - VERNEMQ_SERVICE
    - VERNEMQ_API_PORT
    - DOCKER_VERNEMQ_ACCEPT_EULA=yes
    - DOCKER_VERNEMQ_ALLOW_ANONYMOUS=on
  logging:
    driver: "json-file"
    options:
      max-file: "5"
      max-size: "100m"
services:
  vernemq:
    container_name: vernemq
    <<: *common
    restart: ${SERVICE_RESTART}

    # TODO: Get permission denied?
    #    volumes:
    #      - ${SERVICE_DATA_DIR}:/var/lib/vernemq

    ports:
      - ${VERNEMQ_HTTP_PORT}:8888
      - ${VERNEMQ_API_PORT}:1883
    healthcheck:
      test: /asystem/etc/checkhealthy.sh
      interval: 2m
      timeout: 30s
      retries: 3
      start_period: 1m
      start_interval: 10s
    deploy:
      resources:
        limits:
          memory: 2G
  vernemq_bootstrap:
    container_name: vernemq_bootstrap
    <<: *common
    restart: 'no'
    entrypoint: bash
    command: /asystem/etc/bootstrap.sh
    depends_on:
      - vernemq
