{# Rectangular Guage Complication #}
Now {{ states('sensor.roof_temperature') | int(0) }}°C ({{ states('sensor.bom_today_min') | int(0) }}/{{ max(states('sensor.bom_today_max') | float(-100), state_attr('sensor.today_temp_roof', 'max_value') | float(-100)) | int(0) }}°C)
Home is {{ iif(is_state('input_boolean.home_security', 'off'), 'NOT secure', 'secure') }}
{{ (states('sensor.home_energy_daily') | float(0)) / 10 }}
