{# Complication Title Template - Weather #}
Now {{ states('sensor.roof_temperature') | int(0) }}°C ({{ states('sensor.bom_darlington_temp_min_0') | int(0) }}/{{ states('sensor.bom_darlington_temp_max_0') | int(0) }})°C

{# Complication Subtitle Template - Secure #}
Home is {{ iif(is_state('input_boolean.home_security', 'off'), 'NOT secure', 'secure') }}

{# Complication Bottom Template - Cluster #}
Servers are NOT healthy
