x-common: &common
  image: postgres:${SERVICE_VERSION_ABSOLUTE}
  init: true
  user: root
  environment:
    - TZ=Australia/Perth
    - POSTGRES_SERVICE
    - POSTGRES_API_PORT
    - POSTGRES_USER
    - POSTGRES_KEY
    - POSTGRES_PASSWORD=${POSTGRES_KEY}
    - POSTGRES_USER_HASS
    - POSTGRES_KEY_HASS
    - POSTGRES_DATABASE_HASS
    - POSTGRES_USER_MLFLOW
    - POSTGRES_KEY_MLFLOW
    - POSTGRES_DATABASE_MLFLOW
    - PGUSER=${POSTGRES_USER}
    - PGPASSWORD=${POSTGRES_KEY}
    - PGDATA=/var/lib/postgresql/data/pgdata
  volumes:
    - ${SERVICE_DATA_DIR}:/asystem/mnt
    - ${SERVICE_DATA_DIR}:/var/lib/postgresql/data
  logging:
    driver: "json-file"
    options:
      max-file: "5"
      max-size: "100m"
services:
  postgres:
    container_name: postgres
    <<: *common
    restart: ${SERVICE_RESTART}
    ports:
      - ${POSTGRES_API_PORT}:5432
    healthcheck:
      test: /asystem/etc/checkhealthy.sh
      interval: 2m
      timeout: 30s
      retries: 3
      start_period: 1m
      start_interval: 10s
    deploy:
      resources:
        limits:
          memory: 4G
  postgres_bootstrap:
    container_name: postgres_bootstrap
    <<: *common
    restart: 'no'
    entrypoint: bash
    command: /asystem/etc/bootstrap.sh
    depends_on:
      - postgres
